[Unit]
Description=DOwnLOad MONitor job queue
Documentation=https://framagit.org/luc/dolomon
After=dolomon.service

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/dolomon/
ExecStart=/usr/local/bin/carton exec script/dolomon minion worker -m production
SyslogIdentifier=dolomon-minion

[Install]
WantedBy=multi-user.target
